#main {
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    margin-top: 1rem;

    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 0.3rem;
}

.guide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guide span {
    margin: 0 10px 0 30px;

    display: inline-block;
}

.guide .nodeS {
    width: 20px;
    height: 20px;

    background: green;
    border-radius: 50%;
}

span.nodeF {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    background: red;
    border-radius: 50%;
}

span.nodeFound {
    width: 20px;
    height: 20px;
    margin-left: 0px;

    background: yellow;
    border-radius: 50%;
}

span.nodeWall {
    width: 20px;
    height: 20px;

    background: rgba(0, 0, 0, 0.5);
}

span.algo {
    width: 20px;
    height: 20px;

    background: rgba(109, 93, 254, 0.5);
}

span.path {
    width: 20px;
    height: 20px;

    background: rgb(190, 240, 0);
}

.grid {
    padding: 4px 4px;

    text-align: center;
}

.node {
    width: 23px;
    height: 21px;
    margin-right: 2px;

    display: inline-block;

    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
    );
}

.node-start {
    background: green;
    border-radius: 50%;
}

.node-finish {
    background: red;
    border-radius: 50%;
}

.wall {
    background: rgba(0, 0, 0, 0.5);
}
