.grid {
    width: 100%;
    margin: 2rem 20% 0;
}

.buttons button {
    margin: 1rem 5px 0;
}

.buttons .resetGrid {
    margin-left: 5px;
}

.node {
    width: 25px;
    height: 25px;

    display: inline-block;

    border: 2px solid;
}

.node-start {
    background: green;
}

.node-finish {
    background: red;
}
